@import "./reset.scss";
@import "./mixin.scss";
@import "./element-var.scss";
@import "./element-plus.scss";

.mauto {
  margin-left: auto;
  margin-right: auto;
}
.mlauto {
  margin-left: auto;
}
.mrauto {
  margin-right: auto;
}

/* common fontsize */
.fs-36 {
  font-size: 36px;
}
.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-26 {
  font-size: 26px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-0 {
  font-size: 0;
}

/* the padding and marge of elements */
.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.pl-5 {
  padding-left: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pt-30 {
  padding-top: 30px;
}

.lh-13 {
  line-height: 1.3;
}
.lh-15 {
  line-height: 1.5;
}
.lh-18 {
  line-height: 1.8;
}
.lh-20 {
  line-height: 2;
}

.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-baseline {
  vertical-align: baseline;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "\0020";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
.hide {
  display: none;
}
.vf_hide {
  overflow: hidden;
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.select-tc {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.flighter {
  font-weight: lighter;
}
.fnormal {
  font-weight: normal;
}
.fb {
  font-weight: bold;
}

.text-indent {
  text-indent: 2em;
}
.text-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.text-none {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.ul-decimal {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  li {
    list-style: decimal;
  }
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.prelative {
  position: relative;
}
.pabsolute {
  position: absolute;
}
.pfixed {
  position: fixed;
}
.absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

.flow_block {
  display: block;
}
.flow_inline {
  display: inline;
}
.flow_inblock {
  display: inline-block;
}

.jy-flex {
  display: -webkit-box;
  display: flex;
}
.jy-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.jy-flex-column {
  display: flex;
  flex-direction: column;
}
.jy-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jy-flex-vc {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.jy-flex-hc {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.jy-flex-hspace {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fill-100 {
  width: 100%;
  height: 100%;
}
.wrate-50 {
  width: 50%;
}
.img-fill {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ico-btn-reset {
  appearance: none;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.jy-btn {
  cursor: pointer;
  z-index: 5;
  text-indent: -9999px;
  font-size: 0;
  line-height: 1;
  overflow: hidden;
  &:active {
    filter: brightness(1.1);
  }
  &.disable,
  &.active {
    &:active {
      filter: none;
    }
  }
  &.disable {
    filter: grayscale(1);
    pointer-events: none;
    opacity: 0.9;
  }
}
.jy-btn-txt {
  cursor: pointer;
  z-index: 5;
  &:active {
    filter: brightness(1.1);
  }
  &.disable,
  &.active {
    &:active {
      filter: none;
    }
  }
  &.disable {
    filter: grayscale(1);
    pointer-events: none;
    opacity: 0.9;
  }
}
.jy-btn-brightness {
  &:hover {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
  }
}

.opacity-0 {
  opacity: 0;
}

.input-border0 {
  border: 0;
}

/* 滤镜 */
// 毛玻璃滤镜效果
.filter-glass {
  backdrop-filter: saturate(50%) blur(4px);
}
