<template>
  <div class="{{name}}-container"></div>
</template>

<script>
export default {
  name: "{{ properCase name }}",
  components: {},
  data() {
    return {};
  },
  watch: {},
  computed: {}.
  created() {},
  beforeMount() {},
  mounted() {},
  methods: {},
};
</script>
